<a href="https://colab.research.google.com/github/ahmedmoustafa/glioma/blob/main/glioma.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Glioma

In [1]:
import pandas as pd # Import the pandas package using the alias 'pd'
import seaborn as sns # Import the seaborn package using the alias 'sns'

In [2]:
df = pd.read_table("https://tinyurl.com/yvcdjcyz") # Read and load the tsv data file into a DataFrame
df.shape

(839, 10)

In [3]:
df.head()

   ID  Grade  Sex  Age_at_diagnosis  Race  TP53  PTEN  EGFR  NF1  NOTCH1
0   1      0    0             51.30     0     0     0     0    0       0
1   2      0    0             38.72     0     0     0     0    0       0
2   3      0    0             35.17     0     1     0     0    0       0
3   4      0    1             32.78     0     1     0     0    0       0
4   5      0    0             31.51     0     1     0     0    0       0

---
**Q1: What is the median age at diagnosis for both Glioblastoma Multiforme (GBM) and Low-Grade Glioma (LGG)? (5 points numerical answer + 5 points graphical answer)**

---
**Q2: Which glioma grade has a higher prevalence in males compared to females? (5 points numerical answer + 5 points graphical answer)**

---
**Q3: What is the median age at diagnosis for Glioblastoma Multiforme (GBM) and Low-Grade Glioma (LGG) when considering gender? (5 points numerical answer + 5 points graphical answer)**

---
**Q4: Is there a difference in age at diagnosis based on the patient's race? (5 points numerical answer + 5 points graphical answer)**

---
**Q5: Among the five mentioned genes, which one is more frequently mutated in each glioma grade? (5 points numerical  + 5 points graphical answer)**

---
**Q6: Do mutation frequencies of the mentioned genes vary according to the patient's race? (5 points numerical answer + 5 points graphical answer)**

---
**Q7: In individual patients, who has the highest number of mutations across all the mentioned genes? (5 *bonus* points numerical answer)**